@import '@/backend/assets/styles/mixins.scss';

.logo {
  height: 48px;
  width: 220px;
  background: $menuBg-darken;
  float: left;
}

.logoContainer {
  height: 48px;
  padding: 9px 20px 0 17px;
  img {
    height: 28px;
  }
}

.icon {
  margin-top: rem(16);
  margin-right: rem(7);
  float: left;

  @media (max-width: $md-max-width) {
    display: none !important;
  }
}
.topbar {
    background: $white;
    padding: 0 rem(20);
    min-height: 45px;
    height: 48px;
    border-bottom: 1px solid $gray-border;
    color: $text;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
